Success Modbus version/final_test
[{"id":"4b521510.c60c8c","type":"inject","z":"29d2180c.7cf658","name":"","topic":"NodeID","payload":"{ \"NodeID\":{\"deviceAddr\":\"192.168.0.18,502,4\", \"nodeAddr\":[\"0\",\"1\"]}}","payloadType":"json","repeat":"5","crontab":"","once":false,"x":125.90040588378906,"y":372.6000118255615,"wires":[["a5437cbe.7bae1"]]},{"id":"d65159ec.0a7cf8","type":"http_client","z":"29d2180c.7cf658","name":"","x":339.40045166015625,"y":226.00003147125244,"wires":[["a5437cbe.7bae1"]]},{"id":"e9e3e647.644138","type":"inject","z":"29d2180c.7cf658","name":"inject","topic":"mclstart","payload":"{\"OPCUAServerCfg\":{\"deviceInfo\":[{\"dsName\": \"Modbus Device\",\"refreshCycle\": 2.5,\"deviceType\": \"ModBus\",\"nodelist\":[{\"name\": \"Temprature-m\",\"unit\": \"C\",\"address\": \"1\",\"dataType\": \"Int\",\"converter\": \"(value - 27315) / 100:value\"},{\"name\": \"Humidity-m\",\"unit\": \"%\",\"address\": \"0\",\"dataType\": \"Int\",\"converter\": \"value / 100:value\"}],\"parameters\": {\"deviceAddr\": \"192.168.0.18,502,4\"}}]}}","payloadType":"json","repeat":"","crontab":"","once":true,"x":134.62737274169922,"y":222.5998363494873,"wires":[["d65159ec.0a7cf8"]]},{"id":"a5437cbe.7bae1","type":"query_client","z":"29d2180c.7cf658","name":"","x":350.1001205444336,"y":372.8000602722168,"wires":[["fd44711.e6e649"]]},{"id":"bde02abb.c6aca8","type":"debug","z":"29d2180c.7cf658","name":"","active":true,"console":"false","complete":"true","x":715.1001281738281,"y":371.6000118255615,"wires":[]},{"id":"fd44711.e6e649","type":"function","z":"29d2180c.7cf658","name":"function","func":"console.log(msg);\n\nfor (let p in msg){\n    if (p == msg[1]){\n        console.log('p==1',p);\n        msg['abc']=msg.p;\n        console.log(msg['abc']);\n    }\n    else if (p ==msg[0]){\n        console.log('p==0',p);\n        msg['def']=msg.p;\n        console.log(msg['def']);\n    }\n }\nreturn msg;","outputs":1,"noerr":0,"x":547.1001243591309,"y":372.40003538131714,"wires":[["bde02abb.c6aca8"]]}]